.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  margin-top: 50px;
  text-align: center;
}

.Todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    margin: 20px auto;
}

.push-right { margin-right: 10px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
